.create_bill_container {
  background: #e3e3e3;
  .header {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    background: #018547;
    padding: 0 24px;
    .scan_qr {
    }
    .tabs_wrap {
      height: 45px;
      padding: 0 24px;
      padding-top: 8px;
      overflow: hidden;

      .ant-tabs-nav-list {
      }
      .ant-tabs-tab {
        border: 1px solid #ccccccb7;
        color: rgba(0, 0, 0, 0.735);
        height: 40px;
        color: white;
      }

      .ant-tabs-nav-add {
        background: transparent;
        color: white;
        border: none;
        font-weight: bold;
        &:hover {
          color: white;
          background: #dddddd71;
        }
      }
    }
    .right__btns {
      margin-left: auto;
      .full_screen_btn {
        color: wheat;
        padding: 4px;
        transition: all ease 0.2s;
        &:hover {
          transform: scale(1.3);
          color: white;
        }
      }
    }
  }
  .content {
    display: flex;
    height: 100%;
    background-color: white;
    .list_container {
      width: 100%;
      margin-right: 0;
      // - height of header and footer
      background: white;
      border-radius: 4px;
      padding-top: 12px;
    }

    .table {
      width: 70%;
      height: calc(100vh - 45px - 90px);
      overflow-y: auto;
    }
    .bill_infor_container {
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-left: 12px;
      height: calc(100vh - 45px - 90px);
      background: white;

      .bill_infor {
        width: 370px;
        height: inherit;
        padding: 12px;
        font-size: 13px;
        border-radius: 4px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        .employee {
          display: flex;
          align-items: center;
          flex: 1;
        }
        .select_container {
          width: 180px;
        }
        .time_container {
          flex: 1;
          text-align: right;
        }
        .row {
          display: flex;
          padding: 8px 4px;
          align-items: center;
        }
        .line {
          height: 4px;
          background: #ddd;
        }
        .customer {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .add_cus_icon {
          padding: 4px;
          // background: #ccc;
          border-radius: 4px;
          .icon {
            transition: all 0.2s ease;
            font-size: 15px;
          }

          .icon:hover {
            transform: scale(1.2);
            cursor: pointer;
          }
        }
        .price_mode {
        }
        .label {
          width: 160px;
        }
        .selectLabel {
          width: 80px;
        }
        .label.bold {
          font-weight: bold;
        }
        .quantitty {
          padding: 4px;
          border-radius: 50%;
          background: #ddd;
          font-size: 14px;
        }
        .value {
          margin-left: auto;

          .input {
            border: none;
            font-size: 18px;
            padding-right: 4px;
            text-align: right;

            &:focus {
              outline: none;
              border: none;
            }
          }
        }

        .btn {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }
  .footer {
  }

  //list product item
  .list_product {
    // margin: 12px;
    display: flex;
  }
}

.create_bill_container.full_screen_active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;

  .list_container {
    height: calc(100vh - 45px - 20px);
  }
  .bill_infor_container {
    // height: calc(100vh - 45px - 20px);
  }
  .table {
    height: calc(100vh - 45px - 24px);
    overflow-y: auto;
  }

  .list_container {
    padding-left: 12px;
  }
}
