.unitType_modal {
  .unitType_form {
    padding-bottom: 12px;
    font-size: 13px;
  }
  .unitType_form_group {
    display: flex;
  }
  .unitType_form_label {
    width: 120px;
    padding-top: 4px;
  }
  .unitType_form_input_wrap {
    padding-bottom: 8px;
  }
  .unitType_form_input {
  }
  .unitType_form_input_err {
    color: red;
    font-size: 11px;
  }
}

.promotion_line_modal {
  .modal {
    z-index: 102;
  }
}

.store_checking_modal_detail_form_top {
  display: flex;
  font-size: 13px;
  .store_checking_modal_detail_form_left {
    flex: 1;
  }

  .store_checking_modal_form_group {
    display: flex;
    padding-bottom: 12px;
  }

  .store_checking_modal_form_label {
    width: 140px;
  }

  .store_checking_modal_form_input_wrap {
  }

  .store_checking_modal_form_input_number {
  }

  .store_checking_modal_detail_form_right {
    .store_checking_modal_form_label {
      width: 70px;
    }
  }
}
.store_checking_modal_detail_form_bottom {
}
